/*****************************************
               Theme files
******************************************/
/*********************************************
      Constant variables for the theme
**********************************************/
/*****************************************
             Components Files
******************************************/
#send-message-box {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#send-message-box form {
  width: 90%;
  margin: 0 auto;
}
