/*****************************************
               Theme files
******************************************/
/*********************************************
      Constant variables for the theme
**********************************************/
/*****************************************
           General Styles Files
******************************************/
html,
body,
main,
#app {
  height: 100%;
}
/*****************************************
             Components Files
******************************************/
#chat {
  height: calc(100% - 64px);
  width: 95%;
  margin: 0 auto;
}
#message-container {
  height: calc(100% - 86px);
}
#send-message-form {
  width: 100%;
  height: 86px;
}
